<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246134478921-irfa68gskirghs650p13ig23sm6ustm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246134478921-irfa68gskirghs650p13ig23sm6ustm9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246134478921-av1qdrtk0pav9mv56cqkc4ih7nsk2voq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5vBBouUPA8yq9kH29QX-UWnHG9ztzhrM</string>
	<key>GCM_SENDER_ID</key>
	<string>246134478921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakGuard</string>
	<key>PROJECT_ID</key>
	<string>speak-guard</string>
	<key>STORAGE_BUCKET</key>
	<string>speak-guard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246134478921:ios:b455552b75cf1ec0af8798</string>
</dict>
</plist>